<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>test</h1>
<body>
    <h1>네이버 지도 api 테스트</h1>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=8v6b3ybtj5"></script>
    <div id="map" style="width:50%;height:400px;"></div>
    <script>
        var mapOptions = {
            center: new naver.maps.LatLng(37.3595704, 127.105399),
            zoom: 10
        }

        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(37.3595704, 127.105399),
            zoom: 10
        });

    </script>
</body>
</head>
</html>